/* глобальные стили */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

/* стили для шапки */
.header__menu {
  position: relative;
  line-height: 26px;
  font-weight: 700;
}
.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  width: 138px;
  margin: 0 auto;
  z-index: 1;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  list-style: none;
}
.header__item {
  width: 99px;
  margin-left: 71px;
  margin-right: 73px;
}
.header__item:nth-child(4n+2) {
  margin-right: 189px;
}
.header__item:nth-child(4n+3) {
  margin-left: 195px;
}
.header__item:nth-child(4n+4) {
  text-align: right;
  margin-left: 59px;
}
.header__link {
  color: #000;
}
.header__link:hover,
.header__link:focus {
  color: #81b3d2;
}
.header__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.header__link--active {
  color: #766357;
}

/* стили для введения на главной */
.intro {
  position: relative;
  min-height: 509px;
  text-align: center;
  background-color: #dceaf2;
  background-image: url(../img/intro.jpg);
  background-size: 1200px 773px;
  background-position: 0 -55px;
  background-repeat: no-repeat;
}
.intro::after {
  content: "";
  position: absolute;
  top: 452px;
  left: 0;
  width: 1200px;
  height: 59px;
  background-image: url(../img/intro-mask.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.intro__img {
  padding-top: 77px;
}

/* стили для промо на главной */
.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 30px;
  line-height: 26px;
  text-align: center;
}
.promo__title {
  width: 450px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 21px;
  font-weight: 700;
}
.promo__subtitle {
  margin: 0;
  color: #333;
}

/* стили для основного содержания на главной */
.reasons__list {
  counter-reset: num;
  list-style: none;
}
.reasons__item {
  position: relative;
  padding-left: 20px;
}
.reasons__item::before {
  content: "\2013  №" counter(num) " \2013";
  counter-increment: num;
  position: absolute;
  top: 1px;
  left: 1px;
}
.reasons__item--1 {
  padding-bottom: 260px;
}
.reasons__item--1::after {
  content: "";
  position: absolute;
  top: 365px;
  left: 20px;
  width: 800px;
  height: 256px;
  background-image: url(../img/city.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.reasons__item--2 {
  padding-bottom: 260px;
}
.reasons__item--2::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 20px;
  width: 800px;
  height: 256px;
  background-image: url(../img/bridge.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.reasons__info-item {
  position: relative;
}
.reasons__info-item--1::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.reasons__info-item--2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 74px;
  height: 70px;
  background-image: url(../img/icon-2.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.reasons__info-item--3::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 15px;
  width: 64px;
  height: 76px;
  background-image: url(../img/icon-3.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.reasons__group--1 {
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
}
.reasons__item-title,
.reasons__info-title {
  font-size: 21px;
  font-weight: 700;
}
.reasons__info-list  {
  list-style: none;
  color: #000;
  background-color: #fff;
}
.reasons__group--2 {
  text-align: center;
}

/* стили для фильтра на внутренней */
.filters {
  position: relative;
  color: #fff;
  background-color: #3a4d5f;
  background-image: url(../img/filter.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.filters__form {
  display: flex;
  flex-wrap: wrap;
  min-height: 217px;
}
.filters__group {
  border: none;
}
.filters__legend {
  font-size: 16px;
  font-weight: 700;
}
.filters__price-input {
  color: #fff;
  background-color: transparent;
}
.filters__button {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}
.filters__button:hover,
.filters__button:focus {
  color: #000;
  background-color: #fff;
}

/* стили для сортировки на внутренней */
.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 29px;
  padding-left: 72px;
  padding-right: 70px;
  padding-bottom: 26px;
}
.sorting__title {
  margin: 0;
  margin-right: 47px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.sorting__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 505px;
  list-style: none;
}
.sorting__name {
  margin-right: 40px;
}
.sorting__name,
.sorting__list {
  font-size: 12px;
  line-height: 18px;
}
.sorting__item {
  margin-right: 33px;
}
.sorting__item:last-child {
  margin-right: 0;
}
.sorting__link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sorting__link--active {
  color: #81b3d2;
  border: none;
}
.sorting__link:hover,
.sorting__link:focus {
  color: #81b3d2;
}
.sorting__link:active {
  color: #000;
  border: none;
}
.sorting__triangle {
  padding-top: 11px;
  font-size: 0;
}
.sorting__triangle--up {
  margin-right: 11px;
}
.sorting__triangle--up:hover path,
.sorting__triangle--up:focus path {
  fill: #231f20;
}
.sorting__triangle--up:active path {
  fill: #81b3d2;
}
.sorting__triangle--down:hover path,
.sorting__triangle--down:focus path {
  fill: #231f20;
}
.sorting__triangle--down:active path {
  fill: #81b3d2;
}
.sorting__triangle--active path {
  fill: #81b3d2;
}

/* стили для основного содержания на внутренней */
.hotels__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hotels__item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.hotels__item:first-child {
  border-top: 1px solid #e5e5e5;
}
.hotels__img {
  height: 90px;
  margin-right: 30px;
}
.hotels__title {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 8px;
}
.hotels__title-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}
.hotels__title-link:hover,
.hotels__title-link:focus {
  color: #81b3d2;
}
.hotels__title-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotels__description {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-right: 521px;
}
.hotels__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #333;
}
.hotels__row-about {
  width: 100px;
  margin-right: 16px;
}
.hotels__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}
.hotels__link-details {
  width: 110px;
  margin-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
}
.hotels__link-details:hover,
.hotels__link-details:focus {
  background-color: #669ec0;
}
.hotels__link-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.hotels__link-reserve {
  width: 142px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: #fff;
  background-color: #766357;
}
.hotels__link-reserve:hover,
.hotels__link-reserve:focus {
  background-color: #604e43;
}
.hotels__link-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.hotels__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #666;
}
.hotels__rating-text {
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background-color: #f2f2f2;
}

/* стили для поиска на главной */
.search {
  text-align: center;
}
.search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.search__description {
  line-height: 24px;
  color: #333;
}
.search__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  background-color: #766357;
}
.search__button:hover,
.search__button:focus {
  background-color: #604e43;
}
.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.search__form {
  font-weight: 700;
}
.search__input {
  font-weight: 700;
  background-color: #f2f2f2;
}
.search__input:hover,
.search__input:focus {
  background-color: #ebebeb;
}
.search__input:active {
  background-color: #fff;
}
.search__btn {
  width: 21px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/calendar.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
}
.search__find {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.search__find:hover,
.search__find:focus {
  background-color: #669ec0;
}
.search__find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* стили для подвала */
.footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 37px;
}
.footer__hashtag {
  margin-top: 9px;
  margin-left: 60px;
  margin-right: 132px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 125px;
  margin-right: 125px;
  list-style: none;
}
.footer__social-item {
  position: relative;
  margin-right: 6px;
  font-size: 0;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  cursor: pointer;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social--tw::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 17px;
  height: 15px;
  background-image: url(../img/twitter.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.footer__social--fb::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 12px;
  height: 22px;
  background-image: url(../img/fb-icon.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.footer__social--you::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 14px;
  width: 20px;
  height: 16px;
  background-image: url(../img/youtube.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.footer__social-item:hover,
.footer__social-item:focus {
  background-color: #669ec0;
}
.footer__social-item:active {
  background-color: #5496bd;
}
.footer__social--tw:active::before,
.footer__social--fb:active::before,
.footer__social--you:active::before {
  opacity: 0.3;
}
.footer__copyright {
  margin-top: 3px;
  margin-left: 103px;
}
.footer__copyright-link {
  display: flex;
  flex-wrap: wrap;
}
.footer__copyright-text {
  margin-top: 6px;
  margin-right: 8px;
  line-height: 26px;
  color: #000;
}
